div{
    padding-top: 10px;
    padding-right: 8px;
    padding-bottom: 6px;
    padding-left: 6px;
    border-width: 20px;
    border-color: blue;
    border-style: solid;
    margin-left: 10px;
    margin-right: 30px;
}
