#parent{
	position: relative;
	background-color: blue;
	height: 100px;
    width:200px;
}

#span1{
	position: absolute;
    left: 50px;
}
#span2{
	position: absolute;
	left: 100px;
}
#span3{
	position: absolute;
	left: 150px;
}

