nav{
	background-color: blue;
	height: 50px;
	color: white;
	display: flex;
	justify-content: space-around;
}

#picture{
	position: relative;
	background-color: black;
	font-size: 20px;
	color: white;
	height: 150px;
	width: 150px;
	top: 10px;
	left: 10px;
}

#text{
	opacity: 0;
	position: absolute;
	bottom: 10px;
	text-align: center;
	transition: all .7s;
	-webkit-transition: all .7s;
	-moz-transition: all .7s;
}

#description{
	position: absolute;
	bottom: 70px;
	width: 100%;
	text-align: center;
	transition: all .7s;
	-webkit-transition: all .7s;
	-moz-transition: all .7s;		
}

#picture img{
	width: 150px;
	transition: all .7s;
	-webkit-transition: all .7s;
	-moz-transition: all .7s;
}

#picture:hover img{
	opacity: .7;
}

#picture:hover #text{
	opacity: 1;
}

#picture:hover #description{
	bottom: 80px;
}

footer{
	display: flex;
	justify-content: space-between;
	bottom: 0px;
	width: 100%;
	position: absolute;
	color: white;
	font-size: 15px;
	background-color: black;
}
