nav{
    width:100%;
    display: flex;
    justify-content: space-between;
    background-color: blue;
    height: 50px;
    color: white;
    background: linear-gradient(to left, #870000, #190A05);
}

nav span{
    margin-top: 10px;
    font-weight: bold;
}

body{
    margin: 0px;
}

#picture{
    position: relative;
    background-color: black;
    font-size: 20px;
    color: white;
    height: 150px;
    width: 150px;
    top: 10px;
    left: 10px;
}

#text{
    opacity: 0;
    position: absolute;
    bottom: 10px;
    text-align: center;
    transition: all .7s;
    -webkit-transition: all .7s;
    -moz-transition: all .7s;
    
}

#description{
    position: absolute;
    bottom: 70px;
    width: 100%;
    font-weight: bold;
    text-align: center;
    transition: all .7s;
    -webkit-transition: all .7s;
    -moz-transition: all .7s;

}

#picture img{
    width: 150px;
    transition: all .7;
    -webkit-transition: all .7s;
    -moz-transition: all .7s;

}

#picture:hover img{
    opacity: .7;
}

#picture:hover #text{
    opacity: 1;
}

#picture:hover #description{
    bottom: 80px;
}

footer{
    width:100%;
    display: flex;
    bottom: 0;
    position: absolute;
    justify-content: space-between;
    background-color: black;
    color:white;
    font-size: 15px;
}

