#personal_image_container{
    background-color: black;
    position: relative;
    width: 200px;
    height: 248px;
}

img{
    transition: .7s;
    -webkit-transition: .7s;
    -moz-transition; .7s;
}

#personal_image_text{
    font-weight: bold;
    position: absolute;
    color: white;
    top: 0px;
    opacity: 0;
    transition: .7s;
    -webkit-transition: .7s;
    -moz-transition; .7s;
}

#personal_image_container:hover #personal_image_text{
    opacity: 1;   
}

#personal_image_container:hover img{
    opacity: .7;
}
